/* Add this CSS code to your project's stylesheet */

/* Styling for the masthead */
.masthead {
  position: relative;
  /* background-color: #343a40; Dark background color */
  background-image: url('../images/home.webp');
  background-size: cover;
  background-position: center;
  color: white;
  padding-top: 12rem;
  padding-bottom: 12rem;
  text-align: center;
}

.masthead-content {
  position: relative;
  z-index: 1;
}

.masthead-heading {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.masthead-subheading {
  font-size: 1.5rem;
  margin-bottom: 2rem;
  color: white;
}

.btn {
  padding: 1rem 2rem;
  font-size: 0.25rem;
}

/* Styling for the background circles */
/* .bg-circle {
  position: absolute;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
}

.bg-circle-1 {
  top: -50px;
  left: -50px;
  width: 100px;
  height: 100px;
}

.bg-circle-2 {
  top: -50px;
  right: -50px;
  width: 100px;
  height: 100px;
}

.bg-circle-3 {
  bottom: -50px;
  left: -50px;
  width: 100px;
  height: 100px;
}

.bg-circle-4 {
  bottom: -50px;
  right: -50px;
  width: 100px;
  height: 100px;
} */

/* Styling for the other sections */
section {
  padding: 6rem 0;
}

section h2 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

section p {
  font-size: 1.2rem;
  line-height: 1.8;
}


