/* For Gardener Component */
.service-provider-page {
  /* background-image: url('../images/outdoor.jpg'); */
  background-repeat: no-repeat;
  background-size: cover;
  padding: 20px; /* Adjust the padding as needed */
  margin: 0; /* Reset default margin */
  min-height: 50vh;
  color: black; /* Text color */
}

/* For ServiceProvider Component */
.service-provider {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 10px; /* Adjust the margin as needed */
}

.service-provider h3 {
  margin: 0;
}

.service-provider p {
  margin: 10px 0;
}

.book-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.book-button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
