.main1 {
  width: 100%;
  padding-top: 10px;
  backdrop-filter: blur(4px);
  height: 700px;
  background-image: url("../images/signup.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
